$primary-color:gray;
$navBarBackGroundColor:#333;
/**/
html{
    box-sizing:  border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
@import 'navBar.scss';
.contenedor{
    background-color: $primary-color;
    height: calc(100vh - 37px);
}

.grid-content-index{
    padding: 30px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.box-a{
    text-decoration: none;
    color: inherit;
}
.box-content{
    
    background: red;
    width: 100%;
    height: 100px;
    border: solid 1px;
}


